*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.game {
  width: 255px;
  text-align: center;
  font-family: system-ui;
  color: white;
  margin: auto;
}
.title {
    background: #f25;
    padding: 5px 0;
    margin: 5px 0;
}
span {
    color: #fa0;
}

.square  {
    width: 80px;
    height: 80px;
    background: #f25;
    font-size: 50px;
    margin: 2px;
     float: left; 
    
}
.square:hover {
    background: black;
    cursor: pointer;
}